:root {
  --font: "Roboto", sans-serif;
  --dark-grey: #262626;
  --black: #000000;
  --blue: #2271D1;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}